<h1>Movie Search</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>

{% if movie_data %}
    <h2>Results:</h2>
    <ul>
        {% for movie in movie_data.results %}
            <li>
                <strong>{{ movie.title }}</strong> ({{ movie.release_date }})<br>
                {{ movie.overview }}<br>
                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }} poster">
            </li>
        {% endfor %}
    </ul>
{% endif %}
