<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Movie Search</title>
</head>
<body>
    <h1>Search for a Movie</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Search</button>
    </form>

    <h2>Results:</h2>
    <ul>
        {% for movie in movies %}
            <li>
                <a href="{% url 'movie_detail' movie.id %}">{{ movie.title }} ({{ movie.release_date|slice:":4" }})</a>
            </li>
        {% empty %}
            <li>No movies found.</li>
        {% endfor %}
    </ul>

</body>
</html>
